body{
    font-family: 'Work Sans', sans-serif !important;
}

.button-white{
    background-color: rgb(255, 255, 255);
    color: #ff3845;
    border: 1px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    padding: 5px 20px 5px 20px;
    border-radius: 0.1rem;
    margin-left: 30px;
}

.button-white:hover{
    background-color:#ff3845;
    color: rgb(255, 255, 255);
}
.text-blue{
    color: #1f4387 !important;
}


.text-grey{
    color: #6b767b;
}
.button-red-rounded{
    background-color: #ff3645;
    color: #fff;
    border-radius: 18px;
    padding: 10px 25px;
    border: none;
}

.button-blue-muted{
    color: #1f4387;
    background-color: transparent;
    border: none;
}
sdadas
.button-blue-muted:hover{
    text-decoration: underline;
}

#imagem-principal{
    height: 450px;
}


